body {
    text-align: center;
}

#headImage {
    height: 280px;
}

p {
    font-size: 25px;
}

.galleryImages {
    width: 200px;
    height: 180px;
}

.imageSection {
    display: flex;
    justify-content: center;
}

.sectionStyle {
    margin-right: 2px;
    background: white;
    margin-bottom: 10px;
}

#theCarousel img {
    height: 600px;
    width: 100%;
}

#theCarousel {
    height: 600px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
